<%= render partial: "shared/header"%>

<div class="contents">
  <div class="first-view">
       <%= link_to image_tag("cache_Messagep37593.jpeg", class:"top-image"), "#" %>
  </div>
  <div class="contents-top">
   <h2>papaにしかわからない楽しさや悩みを共有してみませんか？<br>それを共有することで今日も笑顔になれる家族がたくさんいます！<br>まずは気軽に投稿してみよう！！</h2>
  </div>
  <div class="contents-middle">
   <h3>何ができるの？</h3>
   <ul class="contents-middle-lists">
        <li class="li-style">  
          <%= link_to image_tag("detail1_2fc7d375-0df9-411d-bca0-f153e2f57af9.jpeg", class:"middle-image"), "#" %>
          <h4 class="middle-list"><span class= "content-blue">1,食事</span><br>・離乳食のあげる時期によって食べれるものが違う<br>・冷凍することで準備が楽にもなる<br>・お父さんが食べる見本を見せたら食べるかもしれない</h4>
        <li class="li-style">  
          <%= link_to image_tag("IMG_5941.jpeg", class:"middle-image"), "#" %>
          <h4 class="middle-list"><span class= "content-blue">２,遊び</span><br>・この時期の子供に適切な遊びはなんだろう<br>・与えるおもちゃは何がいいだろう<br>・お父さんが絵本を読んでくれたら喜ぶかもしれない</h4>
        <li class="li-style">  
          <%= link_to image_tag("IMG_8693.jpg", class:"middle-image"), "#" %>
          <h4 class="middle-list"><span class= "content-blue">3,イヤイヤ期</span><br>・出た！！のけぞりポーズ<br>・いったい何をすればおさまるの？<br>・注意点をそらすアイテムがあればおさまるかも？</h4>
        </li>
        <h4 class="middle-content"><span class= "content-red">悩んでることの対処法を検索しよう！</span><br>下記のボタンSEARCHを押していただくことで投稿の内容を絞ってください！<br>入力項目が一つだけでも絞ることができます！<br>なんでも調べてみてください！</h4>
       <div class = check-js id="check">SEARCH</div>
   </ul>

   <%= form_with(scope: :search, url: search_tweets_path, method: :get, local: true) do |f| %>
   <div class = "check-contents" id="pull-down">
      <div class="check-content">
      <%= f.text_field :content, value: @search_params[:content], placeholder: '投稿ワード' %>
      </div>
      <div class="check-content">
      <%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: '指定なし', selected: @search_params[:category_id]) %> 
      </div>
      <div class="check-content">
      <%= f.collection_select(:condition_id, Condition.all, :id, :name, include_blank: '指定なし', selected: @search_params[:condition_id]) %> 
       </div>
       <div class="check-content">
      <%= f.collection_select(:baby_age_id, BabyAge.all, :id, :name, include_blank: '指定なし', selected: @search_params[:baby_age_id]) %>
     </div>
       <div class="check-content">
      <%= f.collection_select(:baby_gender_id, BabyGender.all, :id, :name, include_blank: '指定なし', selected: @search_params[:baby_gender_id]) %> 
      </div>
      <%= f.submit"投稿を検索する",class:"check-btn"%>
   </div>
<% end %>
   
  <h5>投稿一覧</h5>
  <div class="contents-row">
   <% @tweets.each do |tweet| %>
   <%= render partial: "shared/tweet", locals: { tweet: tweet } %>
  <% end %>
  </div>
</div>
<%= render partial: "shared/footer"%>

