<%= render partial: "shared/second_header"%>

<div class="tweet-tweet-comment">
   <div class='tweet-img-content'> 
       <%= image_tag @tweet.image.variant(resize: '400x400'), class: 'tweet-image' if @tweet.image.attached? %>
       <% if @tweet.video.attached? %> <video src="<%= rails_blob_path(@tweet.video)%>" type="video/mp4" controls class="tweet-video" ></video>
       <% end %>
       <div class="more"> 
         <p><%= @tweet.content %></p>
       </div>
         <div class = "click-js" id="click-js">いいね (<i class="far fa-thumbs-up fa-fw fa-lg faa-tada animated"></i><%= @tweet.likes.count %>) </div>
       <% if current_user.already_liked?(@tweet) %>
       <%= button_to 'いいねを取り消す', tweet_like_path(@tweet), method: :delete ,class:"comment-btn"%>
       <% else %>
       <%= button_to'いいね!', tweet_likes_path(@tweet),class:"comment-btn" %>
       <% end %>
       <div class="click-iine" id="pull-down-iine">
       <% @tweet.users.each do |user| %>
       <li><%= user.nickname %></li>
       <% end %>
       </div>
        <ul class="more_list">
         <% if user_signed_in? && current_user.id == @tweet.user_id %>
          <li>
            <i class="fa fa-edit"></i><%= link_to '編集', edit_tweet_path(@tweet.id), method: :get,class:"menu-lists" %>
          </li>
          <li>
            <i class="fa fa-trash-o"></i><%= link_to '削除', tweet_path(@tweet.id), method: :delete,class:"menu-lists" %>
          </li>
          <% end %>
        </ul>
   </div>
   <div class="container">
      <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= render "shared/error_messages", model: f.object %>
        <%= f.text_area :text, placeholder: "コメントする", class:"comment-text" %>
         <div class="btn-border">
        <%= f.submit "送信！",class:"comment-btn" %>
        </div>
        <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
           <%= comment.text %>
        </p>
          <time datetime="<%= comment.created_at %>">
            <%= time_ago_in_words(comment.created_at) + "前"%>
          </time>
      <% end %>
    </div>
   </div>
   </div>
<%= render partial: "shared/footer"%>
  