<%= render partial: "shared/second_header"%>
<div class= "tweet-mypg"><i class="fas fa-baby"></i><%="#{@nickname}さんのMY PAGE"%><i class="fas fa-baby"></i></div>
 <div class="contents-row">
   <% @tweets.each do |tweet| %>
   <div class="tweet-tweet-comment">
   <div class='tweet-img-content'> 
       <%= image_tag tweet.image.variant(resize: '400x400'), class: 'tweet-image' if tweet.image.attached? %>
       <% if tweet.video.attached? %> <video src="<%= rails_blob_path(tweet.video)%>" type="video/mp4" controls class="tweet-video" ></video>
       <% end %>
       
       <div class="more"> 
      <p><%= tweet.content %></p>
      </div>
        <ul class="more_list">
          <li>
            <i class="fa fa-comment-o"></i><%= link_to 'コメント', tweet_path(tweet.id), method: :get,class:"menu-lists" %>
          </li>
           <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <i class="fa fa-edit"></i><%= link_to '編集', edit_tweet_path(tweet.id), method: :get,class:"menu-lists" %>
          </li>
          <li>
            <i class="fa fa-trash-o"></i><%= link_to '削除', tweet_path(tweet.id), data: {confirm: '本当に削除しますか？'}, method: :delete,class:"menu-lists" %>
          </li>
          <% end %>
        </ul>
   </div>
   </div>
  <% end %>
  
  <%= render partial: "shared/footer"%>
  