<%= form_with(model: @tweet, local: true) do |f| %>
<%= render "shared/error_messages", model: f.object %>
     <div class="tweet-image-video">※画像と動画がなくても投稿できます</div>
　　　 <div class = "tweet-image-view">
      <p>画像（JPEG,PNG,GIF,BMPのみ）</p>
        <%= f.file_field :image, id: "image" %>
      </div>
      <div class ="tweet-video-view">
      <p>動画（mp４のみ）</p>
        <%= f.file_field :video, id: "video" %>
     </div>

      <div class="content">
      <%= f.text_area  :content, id: "content", placeholder: "概要",class:"tweet-content-view" %>
      </div>
      <div class = "category-select">カテゴリー(選択してください）
      <p>状況</p>
      <div class="category">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"category_id"}) %>
      </div>
      <p>状態</p>
      <div class="condition">
      <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"select-box", id:"condition_id"}) %>
       </div>
       <p>時期</p>
       <div class="baby-age">
      <%= f.collection_select(:baby_age_id, BabyAge.all, :id, :name, {}, {class:"select-box", id:"baby_age_id"}) %>
      </div>
      <p>性別</p>
       <div class="baby-gender">
      <%= f.collection_select(:baby_gender_id, BabyGender.all, :id, :name, {}, {class:"select-box", id:"Baby_gender_id"}) %>
      </div>
      </div>
      <%= f.submit "SEND" ,class:"tweet-btn" %>
    <% end %>
 

