
   <div class="tweet-tweet">
    <time datetime="<%= tweet.created_at %>">
            <%="投稿日："+ time_ago_in_words(tweet.created_at) + "前"%>
          </time>
   <div class='tweet-img-content'> 
       <%= image_tag tweet.image.variant(resize: '400x400'), class: 'tweet-image' if tweet.image.attached? %>
      <% if tweet.video.attached? %> <video src="<%= rails_blob_path(tweet.video)%>" type="video/mp4" controls class="tweet-video" ></video>
      <% end %>
   <div class="more"> 
      <p><%= tweet.content %></p>
   </div>
   <span class="name">
      <strong>投稿者：<%= link_to tweet.user.nickname, "/users/#{tweet.user_id}" %></strong>
      </span>
   <ul class="more_list">
          <li>
            <%= link_to 'コメント', tweet_path(tweet.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
          </li>
          <% end %>
        </ul>
   </div>
   </div>