<!DOCTYPE html>
<html>
  <head>
    <title>Oriapp34562</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="index.js"></script>
    <script src="https://kit.fontawesome.com/bb220ab896.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= yield %>
    
  </body>

  
</html>
